@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400');
/*@import '/plugins/font-awesome-4.6.1/css/font-awesome.min.css';*/
*{
	margin:0;
	padding:0;
	border:none;
  box-sizing: border-box;
}
html,body{
  overflow-x: hidden;
}
html{
	font-size:62.5%;
}
body{
	font-family: Georgia, serif;
	background:#DDD7C6;
  color: black;
}
/*#main,header,footer{
  overflow-x: hidden;
}*/
h1{
  font-family: 'Roboto Slab', serif;
	font-weight: 300;
  line-height: 130%;
	margin-bottom:1em;
	font-size: 3.4em;
}
h1:not(:first-child){
  margin-top: 1em;
}
h2,.h2{
	font-weight: normal;
	line-height:140%;
  margin-bottom:.6em;
	font-size: 2.4em;
}
h2:not(:first-child){
  margin-top: 1em;
}
h2.box-arrow{
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
	font-size: 1.8em;
	padding: 6px 12px;
  position: relative;
	background: #cbc3ab;
	display: inline-block;
  margin-bottom:1em;
  color: black;
}
h2.box-arrow:after{
  content: "";
  position: absolute;
  left: 14px;
  top: 100%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #cbc3ab;
}
h3{
	font-size: 1.8em;
	line-height: 140%;
  margin-bottom:1em;
}
p,ul,ol{
	font-size: 1.6em;
}
p,ul,ol,blockquote,cite{
	line-height: 170%;
	margin-bottom: 1em;
}
p:last-child,
ul:not(.grid):last-child,
ol:last-child,
cite:last-child{
  margin-bottom: 0;
}
ul,ol{
	margin-left: 30px;
}
ul ul{
	font-size:inherit;
}
ol li{
  list-style: lower-alpha;
  padding-left: 0.5em;
  margin-left: 1.5em;
}
hr{
	border-top: 1px solid #BEA97C;
  margin: 24px 0;
}
blockquote,cite{
	font-size: 1.4em;
}
blockquote{
  font-style: italic;
}
blockquote p{
	font-size: inherit;
}
cite{
  font-style: normal;
  display: block;
}
a{
	color: #782C2C;
}
a:hover{
	color:black;
}
button{
  background: none;
}
img{
  max-width: 100%;
  height: auto;
}
img[align='left']{
	margin-right:16px;
}
h3{
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}
/*p.red{
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}
.red{
	color: #782C2C;
}*/
.container{
	width: 100%;
  max-width: 1050px;
	margin: 0 auto;
}
header{
  background: #3C3C3C url(../images/bg-header.jpg);
  box-shadow: 0 4px 4px rgba(0,0,0,.1);
  position: relative;/*Make sure the shadow appears above main content*/
  padding-top:30px;
}
header a{
	text-decoration:none;
  display: inline-block;
}
header p{
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	color:white;
	font-size: 2em;
	line-height:1.15em;
	margin:0;
  text-align: right;
}
header .subtitle{
  display: block;
	color:white;
  margin-left: 34%;
  text-align: left;
}
/*Contact buttons in header*/
#contact{
  font-family: 'Roboto Slab', serif;
	font-size: 1.8em;
  font-weight: 300;
  list-style: none;
  margin: 0 0 20px;
  line-height: 180%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
#contact li{
  white-space: nowrap;
}
#contact li:not(:last-child){
  margin-right: 14px;
}
#contact a{
	background: #EEEBE3;
	padding: 0 14px 0 0;
  display: block;
  color:black;
}
#contact a:hover{
	outline: 2px solid rgba(255,255,255,.4);
}
#contact span{
  color: white;
	background:#cbc3ab;
	min-width: 34px;
	display: inline-block;
  margin-right: 14px;
  text-align: center;
}
/*Social icons in header*/
.social-menu{
  list-style: none;
  font-size: 16px;
  margin: -3px;
	display: -webkit-flex;
	display: flex;
}
.social-menu li{
	margin: 3px;
}
.social-menu a{
  color: white;
  line-height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
}
.social-menu a[href*='linkedin']{
  background: #0077b5;
}
.social-menu a[href*='facebook']{
  background: #3b5998;
}
.social-menu a[href*='youtube']{
  background: #b31217;
}
#banner{
  max-width: 1020px;
  margin-left: auto;
  margin-right: auto;
}
#banner img{
	display:block;
}
#whitebox{
  /*background: linear-gradient(to right, rgba(255,255,255,0),rgba(255,255,255,0.7),rgba(255,255,255,0));*/
  background:rgba(255,255,255,.7);
}
#whitebox h2{
	font-size:2.4em;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	margin-bottom:0.6em;
	line-height: 130%;
}
#whitebox p{
  font-size:1.4em;
}
/*Call us*/
.sidebar h3{
	margin: 24px 0 0 0;
	font-size: 1.8em;
	color:#782C2C;
	display:block;/*clears highlighted .random-message*/
	background:none;
	padding:0;
	line-height:1.4em;
	font-weight: 400;
}
/*Phone number*/
.sidebar p.phone{
	margin: 0 0 22px 0;
	font-size: 3.2em;
	color:#782C2C;
	font-family: 'Roboto Slab',serif;
	line-height:1.2em;
}
.sidebar p.phone a{
	text-decoration:none;
}
/*Highlighted text in sidebar*/
.random-message{
  margin: 0 12px;
}
.random-message p{
	font-size: 1.8em;
	line-height: 2.3em;
	background: #cbc3ab;
	display: inline;
	padding: 0.4em 0;
	box-shadow: 12px 0 0 #cbc3ab, -12px 0 0 #cbc3ab;/*adds solid colour on either side of inline p content (highlighter effect)*/
}
/*Profile thumnails on team page*/
.bios{
  margin-top: 15px !important;
  margin-bottom: 15px !important;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
}
.bios div{
	text-align: center;
  line-height: 140%;
  font-size: 1.6em;
}
.bios a{
	display: block;
  padding: 4px;
  text-decoration: none;
	background:white;
}
.bios a:hover{
	outline: 2px solid rgba(0,0,0,0.2);
}
.bios img{
	display: block;
	margin-bottom:4px;
  width: 100%;
}
footer{
	font-family:Arial, Helvetica, sans-serif;
  background:#cbc3ab;
}
footer h2{
	font-size: 2.2em;
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
}
footer h3,
footer p,
footer ul{
	font-size: 1.3em;
  line-height: 160%;
}
footer h3{
	font-family:inherit;
	font-weight: bold;
	margin:0;
}
.subfooter ul{
  list-style: none;
  margin: 0;
  margin-left: 14px;
  display: -webkit-flex;
  display: flex;
}
.subfooter ul li:not(:last-child){
	margin-right: 14px;
}
.subfooter{
  margin-top: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.subfooter p{
  margin-bottom: 0;
}
/*Share buttons on blog*/
.social-actions {
	line-height: 20px;
	list-style:none;
	margin:0 0 1em;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
}
.social-actions li {
   margin-right: 6px;
}
iframe{
  border: none;
}
iframe.map{
  width: 100%;
  height: 26vw;
  max-height: 250px;/*Prevent the map height from increasing when site template hits its max-width*/
  margin-bottom: 20px;
}
.video-wrapper {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  margin-bottom: 20px;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn{
	font-size: 1.8rem;
	font-family: 'Roboto Slab', serif;
	text-decoration:none;
	font-weight: 300;
	width:auto;
	padding:6px 12px;
	margin:0;
	cursor:pointer;
	color:white !important;
	border: none;
	background: #782C2C;
	border-radius: 3px;
  -webkit-appearance: none;/*this overrides the default used by Apple's mobile devices*/
  display: inline-block;
  line-height: 140%;
}
.btn:hover{
	background: #5E2222;
}
.btn-lg{
	font-size: 2.4rem;
  width: 100%;
  text-align: center;
}
.btn-sm{
	font-size: 1.4rem;
}
.btn-white{
  background: white;
  color: black !important;
}
.btn-cream{
  background:#EEEBE3;
  color: black !important;
}
.btn-google{
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 1.4rem;
  background:white;
  color:#4285F4 !important;
	border: 2px #4285F4 solid;
	display: -webkit-inline-flex;
	display: inline-flex;
	-webkit-align-items: center;
	align-items: center;
	border-radius: 8px;
}
.btn-google:hover{
  background:white;
	border-color:#174ea6;
}
.btn-google img{
	width: 110px;
	height: auto;
	margin-left: 10px;
}
.box{
  margin-bottom: 30px;
  padding: 20px;
	background: #3e3e3e;
	color:white;
	font-family: Arial, Helvetica, sans-serif;
}
.box h2{
  font-family: "Roboto Slab", serif;
  font-size: 1.8em;
  padding: 10px 20px;
	background:#782C2C;
  margin: -20px;
  margin-bottom: 10px;
}
.box p, .box ul{
	font-size:1.4em;
  line-height: 160%;
}
.box ul{
  list-style: none;
}
.box ul:not(.grid){
  margin: 0;
}
.box a{
  color: inherit;
}
.box a:hover{
  color: rgba(255,255,255,.7);
}
.box ul ul{
	font-size:inherit;
}
.box.archive a{
  text-decoration: none;
}
.box.archive a:hover{
  text-decoration: underline;
  color: inherit;
}
/*If list have sub list, we want the primary link to be bold*/
.box > ul > li > a:not(:only-child){
  font-weight: bold;
}
/*.box > ul > li > a:only-child{
  font-weight: normal;
}*/
.msg{
	background:#33ac71;
	color:white;
	padding: 0.4em 12px;
}
.msg.error{
	background:#db4437;
}
.review:not(:first-child){
	margin-top: 40px;
}
/*Reviews that are not in columns are centered*/
div:not(.grid)>*>.review{
	text-align: center;
}
div:not(.grid)>*>.review .box-arrow:after{
	left:50%;
	margin-left: -10px;
}
.review blockquote{
	font-size: 1.6rem;
}
/*Slider*/
.banner figure{
  width: 100%;
}
.banner img{
	display: block;
  width: 100%;
}
.banner .bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
	font-family: 'Roboto Slab', serif;
	font-size: 2em;
	/*background:rgba(204, 183, 145, 0.85);*/
	background:rgba(205, 195, 167, 0.85);
  line-height: 120%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.banner .bottom a{
	text-decoration:none;
	color: #612323;
	padding: 12px;
  text-align: center;
}
.banner .bottom a.phone{
	background:rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.banner p.video{
	font-family: 'Roboto Slab',serif;
	position: absolute;
	left: 10%;
  bottom: 4em;
	font-size:1.8em;
	line-height:1.4em;
  width: 375px;
  margin: 0;
}
.banner p.video a{
	color:white;
	background:url(../images/video.png) no-repeat left;
	display:block;
	padding-left:84px;
	text-decoration:none;
}
/*Service nav on location-specific landing pages*/
#serviceNav{
	margin:0 -10px 10px 0;
	font-size:1.4em;
  list-style: none;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
#serviceNav li{
	margin-right:10px;
	margin-bottom:10px;
}
article{
  border-bottom: 1px solid #BEA97C;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
/*Prev/next links on blog*/
#pager{
  list-style: none;
  margin: 0;
  text-transform: lowercase;
  display: -webkit-flex;
  display: flex;
  -wenkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.text-align-center{
	text-align: center;
}
.grid {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
/*Default (large screens)*/
.gap-10{margin: -5px; }
.gap-10>*{padding: 5px;}
.gap-20{margin: -10px; }
.gap-20>*{padding: 10px;}
.gap-30{margin: -15px; }
.gap-30>*{padding: 15px;}
.gap-40{margin: -20px; }
.gap-40>*{padding: 20px;}
.gap-60{margin: -30px; }
.gap-60>*{padding: 30px;}
.col-12{width:calc(100% / 12 * 12)}
.col-11{width:calc(100% / 12 * 11)}
.col-10{width:calc(100% / 12 * 10)}
.col-9{width:calc(100% / 12 * 9)}
.col-8{width:calc(100% / 12 * 8)}
.col-7{width:calc(100% / 12 * 7)}
.col-6{width:calc(100% / 12 * 6)}
.col-5{width:calc(100% / 12 * 5)}
.col-4{width:calc(100% / 12 * 4)}
.col-3{width:calc(100% / 12 * 3)}
.col-2{width:calc(100% / 12 * 2)}
.col-1{width:calc(100% / 12 * 1)}
.col-grow{ flex-grow:1; }
.col-auto{ width: auto; }
.px-15{
  padding-right: 15px;
  padding-left: 15px;
}
.py-30{
  padding-top: 30px;
  padding-bottom: 30px;
}
.py-40{
  padding-top: 40px;
  padding-bottom: 40px;
}
.mb-30{
  margin-bottom: 30px;
}
.mb-40{
  margin-bottom: 40px;
}
/*Medium down*/
@media (max-width:768px){
  .md-gap-20{margin: -10px;}
  .md-gap-20>*{padding: 10px;}
  .md-col-12{width:calc(100% / 12 * 12)}
  .md-col-11{width:calc(100% / 12 * 11)}
  .md-col-10{width:calc(100% / 12 * 10)}
  .md-col-9{width:calc(100% / 12 * 9)}
  .md-col-8{width:calc(100% / 12 * 8)}
  .md-col-7{width:calc(100% / 12 * 7)}
  .md-col-6{width:calc(100% / 12 * 6)}
  .md-col-5{width:calc(100% / 12 * 5)}
  .md-col-4{width:calc(100% / 12 * 4)}
  .md-col-3{width:calc(100% / 12 * 3)}
  .md-col-2{width:calc(100% / 12 * 2)}
  .md-col-1{width:calc(100% / 12 * 1)}
  .md-col-grow{flex-grow:1;}
  .md-text-align-center{text-align: center;}
  .md-p-0{
    padding: 0;
  }
  .md-m-0{
    margin: 0;
  }
}
/*Small down*/
@media (max-width:560px){
  .sm-gap-30{margin: -15px;}
  .sm-gap-30>*{padding: 15px;}
  .sm-xgap-0{margin-right: 0;margin-left: 0;}
  .sm-xgap-0>*{padding-right: 0;padding-left: 0;}
  .sm-col-12{width:calc(100% / 12 * 12)}
  .sm-col-11{width:calc(100% / 12 * 11)}
  .sm-col-10{width:calc(100% / 12 * 10)}
  .sm-col-9{width:calc(100% / 12 * 9)}
  .sm-col-8{width:calc(100% / 12 * 8)}
  .sm-col-7{width:calc(100% / 12 * 7)}
  .sm-col-6{width:calc(100% / 12 * 6)}
  .sm-col-5{width:calc(100% / 12 * 5)}
  .sm-col-4{width:calc(100% / 12 * 4)}
  .sm-col-3{width:calc(100% / 12 * 3)}
  .sm-col-2{width:calc(100% / 12 * 2)}
  .sm-col-1{width:calc(100% / 12 * 1)}
  .sm-col-grow{ flex-grow:1; }
  .sm-p-0{
    padding: 0;
  }
}
/*Extra small down*/
@media (max-width:560px){
  .xsm-col-12{width:calc(100% / 12 * 12)}
  .xsm-col-11{width:calc(100% / 12 * 11)}
  .xsm-col-10{width:calc(100% / 12 * 10)}
  .xsm-col-9{width:calc(100% / 12 * 9)}
  .xsm-col-8{width:calc(100% / 12 * 8)}
  .xsm-col-7{width:calc(100% / 12 * 7)}
  .xsm-col-6{width:calc(100% / 12 * 6)}
  .xsm-col-5{width:calc(100% / 12 * 5)}
  .xsm-col-4{width:calc(100% / 12 * 4)}
  .xsm-col-3{width:calc(100% / 12 * 3)}
  .xsm-col-2{width:calc(100% / 12 * 2)}
  .xsm-col-1{width:calc(100% / 12 * 1)}
}
/*Large only*/
@media(min-width: 769px){
  .lg-hide,.md-only,.sm-only{
    display: none !important;
  }
}
/*Medium only*/
@media(min-width: 561px) and (max-width: 768px){
  .md-hide,.lg-only,.sm-only{
    display: none !important;
  }
}
/*Medium down*/
@media (max-width:768px){
  header p{
    text-align: center;
  }
  #contact{
    -webkit-justify-content: center;
    justify-content: center;
  }
  /*#whitebox{
    background: rgba(255,255,255,0.7);
  }*/
  iframe.map{
    height: 60vw;
    max-height: none;
  }
  footer{
    text-align: center;
  }
  .subfooter ul{
    margin-left: 0;
    margin-top: 14px;
    justify-content: center;
  }
  .subfooter > *{
    width: 100%;
  }
}
/*Small only*/
@media(max-width: 560px){
  .sm-hide,.lg-only,.md-only{
    display: none !important;
  }
  #contact{
    font-size: 2em;
    line-height: 210%;
  }
  #contact span{
    min-width: 46px;
  }
}

.main-menu,
.main-menu *{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
}
/*Large only*/
@media(min-width: 769px){
  nav{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
  }
  .main-menu{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;/*This is needed so the .mega menu doesn't expand past the width of the navigation*/
  }
	.main-menu li {
		position:relative;
	}
	.main-menu > li:not(:last-child) {
    margin-right: 10px;
	}
	.main-menu > li > a {
		font-size:2rem;
		padding: 0 15px;
		color:white;
		line-height:52px;
		display:block;
    border-bottom: 4px solid rgba(255,255,255,0);
	}
	.main-menu > li:hover > a, 
	.main-menu > li.hover > a {
		color:white;
    border-bottom-color: rgba(255,255,255,.5);
	}
	.main-menu > li.active > a{
    border-bottom-color: white;
	}
	/* Second level menu */
	.main-menu > ul{
    visibility: hidden;/*Required for touch navigation to work properly*/
	}
	/*Sub menus - second and third level are styled the same, but positioned slightly differently*/
	.main-menu ul{
		position:absolute;
		top:-999em;
		background:white !important;
		min-width: 240px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-bottom: 4px solid #782C2C;
    font-family: Arial, Helvetica, sans-serif;
		z-index: 100;/*Make sure sub menu appears overtop of other elements*/
    opacity: 0;/*We use opacity so we can have it fade in*/
		color: #333;
	}
	.main-menu > li:hover > ul,
	.main-menu > li.hover > ul {
		top:auto;
    visibility: visible;/*Required for touch navigation to work properly*/
    opacity: 1;/*We use opacity so we can have it fade in*/
    transition: opacity 400ms;
	}
	.main-menu ul a {
		padding:8px 14px;
		line-height:18px;
		display:block;
		font-size: 1.5rem;
		color:inherit;
	}
	.main-menu ul li:hover > a, 
	.main-menu ul li.hover > a {
		background:rgba(0,0,0,.1);
		color:inherit;
	}
	/*Third level menu*/
	.main-menu ul li:hover ul,
	.main-menu ul li.hover ul {
		left:100%;
		top:0;
	}
}
/*Medium down*/
@media (max-width: 768px){
	#menu-mobile-icon {
    font-family: Arial, Helvetica, sans-serif;
		cursor: pointer;
		color:white;
		font-size:1.5em;
		line-height:40px;
    text-align: center;
    width: 100%;
	}
	#menu-mobile-icon i{
    margin-right: 2px;
	}
  nav{
    background:#782C2C;
  }
	.main-menu{
		width:100%;
		display:none;
		background:white;
		text-align:center;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		z-index: 100;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
	}
	.main-menu.show,
	.main-menu ul.show{
		display: block;
	}
	.main-menu > li > a {
		border-bottom: 1px solid rgba(0,0,0,.2);
		font-size:1.4rem;
		color: #333;
		display:block;
		line-height:36px;
	}
	.main-menu > li:last-child a{
		border:none;
	}
	/*Second and third levels use the same styles */
	.main-menu ul{
		display:none;
		padding:10px 0;
	}
	.main-menu ul a {
		text-decoration: none;
		color: #333;
		font-size:1.4rem;
		line-height:26px;
		display:block;
	}
	.main-menu ul a:hover {
		text-decoration: underline;
	}
	/*Second level only*/
	.main-menu > li > ul{
		border-bottom: 1px solid rgba(0,0,0,.2);
	}
}

form{
	/*float:left;*/
	width: 100%;
	margin: 1.5em 0 0 0;
}
form p,
form>div{
	margin:0 0 20px;
}
label{
	width:100px;
	display:block;
	float:left; /* Causing IE 9 to crash */
	line-height:28px;
	text-align: right;
	margin:0 14px 0 0;
}
input,
textarea{
	border: 1px solid #CCC;
	height:34px;
	line-height:34px;
	font-size:14px;
	color:#999;
	padding:0 6px;
	font-family:Arial, Helvetica, sans-serif;/*This need to be set to override Firefox defaults for input fields*/
	width:100%;
	background: #F4F2ED;
  box-sizing: border-box;
}
.attachment{
	padding:6px 6px 0;
	background:#FFF;
}
textarea{
	height:130px;
	line-height:20px;
	padding:7px 6px;
  display: block;/*Remove the small bottom space added to inline elements*/
}
input[type='text']:hover,
input[type='email']:hover,
textarea:hover{
	border: 1px solid #999;
}
input[type='text']:focus,
input[type='email']:focus,
textarea:focus{
	border: 1px solid #95A44C;
	color:#555;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

p.button input,
p.button a,
input.button{
	font-size: 1.2em;/*26px - context is all p's are 1.6em under 62.5%*/
	font-family: "museo-slab-n1","museo-slab",serif;
	font-style: normal;
	text-decoration:none;
	font-weight: 100;
	width:auto;
	padding:0 36px 0 10px;
	margin:0;
	cursor:pointer;
	color:#FFF;
	border: none;
	background: #782C2C url(../images/button.html) no-repeat right center;
	border-radius: 3px;
  -webkit-appearance: none;/*this overrides the default used by Apple's mobile devices*/
}
p.buttons input:hover,
p.button a:hover,
input.button:hover{
	background: #5E2222 url(../images/button.html) no-repeat right center;
}
p.button a{padding: 0.3em 2em 0.3em 0.7em;}

/* Validation Styles */
p#formErrors {
	display:none;
}
.missing{/*Replaces required class when form is submitted*/
	background:#FFC;
	border:1px solid #BB0909;
}
#mname {display:none;}
