@charset "utf-8";
/* CSS Document */

html{
	font-family:Verdana, Geneva, sans-serif;	
	font-size:14px;
	color:#616161;
	height:100%;
}

body{
	margin:0;
	padding:0;
	background-color:#ffffff;
}

a:link, a:active, a:visited{
	text-decoration:none;
	color:#0993cf;	
}

p a{
	text-decoration:none;
	color:#0993cf;			
}


h1, h2, h3{
	font-family:Verdana, Geneva, sans-serif;
	font-weight:100;
	color:#000;
	/*color:#4e4e50;*/	
	padding:0px 0px 0px 0px;
	margin:0px 0px 0px 0px;
}


#hdr{
	width:100%;
	height:140px;
	background-image:url(../images/hdrbg.jpg);
	background-position: top left;
	background-repeat: repeat-x;
	background-color:#ffffff;	
}

/* =========== header - logo and main navigation ===========*/
#hdr_container{
	margin:0 auto;
	width:1000px;
	height:130px;
	/*border:solid 1px #cccccc;*/
}

#hdr_lft{
	float:left;
	width:292px;
	height:130px;
	/*border-right:solid 1px #cccccc;*/
	background-image:url(../images/tdg_logo.png);
	background-position: center;
	background-repeat: no-repeat;	
}

#hdr_rgt{
	float:left;
	width:620px;
	height:130px;
	margin:0px 0px 0px 2px;
	padding:0px 0px 0px 68px;
	/*border:solid 1px #cccccc;*/	
}

/* =========== main navigation buttons ===========*/

#btn_dashboard{
	float:left;
	width:120px;
	height:116px;
	cursor:pointer;
	background-image:url(../images/dashboard.png);
	background-position: middle;
	background-repeat:no-repeat;
		
}
#btn_dashboard_active{
	float:left;
	width:120px;
	height:116px;
	cursor:pointer;
	background-image:url(../images/dashboard_b.png);
	background-position: middle;
	background-repeat:no-repeat;
		
}
#btn_dashboard:hover{
	width:120px;
	height:116px;
	cursor:pointer;
	background-image:url(../images/dashboard_b.png);
	background-position: middle;
	background-repeat:no-repeat;
		
}


#btn_pages{
	float:left;
	width:120px;
	height:116px;
	cursor:pointer;
	background-image:url(../images/pages.png);
	background-position: middle;
	background-repeat:no-repeat;
		
}

#btn_pages_active{
	float:left;
	width:120px;
	height:116px;
	cursor:pointer;
	background-image:url(../images/pages_b.png);
	background-position: middle;
	background-repeat:no-repeat;
		
}
#btn_pages:hover{
	width:120px;
	height:116px;
	cursor:pointer;
	background-image:url(../images/pages_b.png);
	background-position: middle;
	background-repeat:no-repeat;
		
}

#btn_blog{
	float:left;
	width:120px;
	height:116px;
	cursor:pointer;
	background-image:url(../images/blog.png);
	background-position: middle;
	background-repeat:no-repeat;
		
}

#btn_blog_active{
	float:left;
	width:120px;
	height:116px;
	cursor:pointer;
	background-image:url(../images/blog_b.png);
	background-position: middle;
	background-repeat:no-repeat;
		
}

#btn_blog:hover{
	width:120px;
	height:116px;
	cursor:pointer;
	background-image:url(../images/blog_b.png);
	background-position: middle;
	background-repeat:no-repeat;
		
}

#btn_gallery{
	float:left;
	width:120px;
	height:116px;
	cursor:pointer;
	background-image:url(../images/gallery.png);
	background-position: middle;
	background-repeat:no-repeat;
		
}

#btn_gallery_active{
	float:left;
	width:120px;
	height:116px;
	cursor:pointer;
	background-image:url(../images/gallery_b.png);
	background-position: middle;
	background-repeat:no-repeat;
		
}

#btn_gallery:hover{
	width:120px;
	height:116px;
	cursor:pointer;
	background-image:url(../images/gallery_b.png);
	background-position: middle;
	background-repeat:no-repeat;
		
}

#btn_users{
	float:left;
	width:120px;
	height:116px;
	cursor:pointer;
	background-image:url(../images/users.png);
	background-position: middle;
	background-repeat:no-repeat;
		
}


#btn_users_active{
	float:left;
	width:120px;
	height:116px;
	cursor:pointer;
	background-image:url(../images/users_b.png);
	background-position: middle;
	background-repeat:no-repeat;
		
}

#btn_users:hover{
	width:120px;
	height:116px;
	cursor:pointer;
	background-image:url(../images/users_b.png);
	background-position: middle;
	background-repeat:no-repeat;
		
}

#btn_settings{
	float:left;
	width:120px;
	height:116px;
	cursor:pointer;
	background-image:url(../images/settings.png);
	background-position: middle;
	background-repeat:no-repeat;
		
}

#btn_settings_active{
	float:left;
	width:120px;
	height:116px;
	cursor:pointer;
	background-image:url(../images/settings_b.png);
	background-position: middle;
	background-repeat:no-repeat;
		
}

#btn_settings:hover{
	width:120px;
	height:116px;
	cursor:pointer;
	background-image:url(../images/settings_b.png);
	background-position: middle;
	background-repeat:no-repeat;
		
}






/* =========== body - main container, left and right columns ===========*/
#main_container{
	margin:0 auto;
	width:1000px;
	background-image:url(../images/pgbg_img.jpg);
	background-position: top left;
	background-repeat: repeat-y;
	/*border:solid 1px #cccccc;	*/
}


#lft_clmn{
	float:left;
	width:280px;
	min-height:600px;
	padding:0px 0px 0px 0px;	
}

#lft_clmn ul li{
	list-style-type:none;
	width:240px;
	padding:0px 0px 0px 0px;
	margin:0px 50px 0px 0px;	
	text-align:right;
	border-bottom:dashed 1px #dddddd;
}

#lft_clmn ul li:hover{
	list-style-type:none;
	width:240px;
	padding:0px 0px 0px 0px;
	margin:0px 50px 0px 0px;	
	text-align:right;
	border-bottom:dashed 1px #dddddd;
	background-image:url(../images/lftnav_b.png);
	background-repeat:repeat-x;
}

#rgt_clmn{
	float:left;
	width:680px;
	min-height:600px;
	height:auto;	
	margin:0px 0px 0px 18px;
	padding:0px 0px 0px 0px;
	background-image:url(../images/rgt_clmn_bg.png);
	background-position: top left;
	background-repeat:repeat-x;	
	/*border: solid 1px #cccccc;*/
}

#lft_clmn_hdr{
	float:left;
	width:490px;
	height:48px;
	margin:0px 0px 10px 0px;
	padding:24px 0px 0px 10px;
	color:#0993cf;
	/*border-top: solid 1px #dddddd;
	border-left: solid 1px #dddddd;
	border-bottom: solid 1px #dddddd;*/
}

#rgt_clmn_hdr{
	float:left;
	width:168px;
	height:32px;
	margin:0px 0px 0px 0px;
	padding:28px 10px 8px 0px;
	text-align:right;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:100;
	color:#0993cf;
	font-size:20px;
	/*border-top: solid 1px #dddddd;
	border-right: solid 1px #dddddd;
	border-bottom: solid 1px #dddddd;*/
	/*border: solid 1px #cccccc;*/
}


.tbl_hdr{
	background-image:url(../images/tbl_hdr.jpg);
	background-position: top left;
	background-repeat:repeat-x;	
	border: solid 1px #eeeeee;
	font-size:inherit;
	font-family:inherit;
	/*color:#373737*/
}

.tbl_hdr strong{
	text-transform:uppercase;
	font-size:inherit;
	font-family:inherit;	
}

.tbl_hdr td{
	border: solid 1px #eeeeee;
}

.tbl_hdr tr:hover {
	background-color:#ECF5FF;
	/*background-color:#FFD;*/
}

.tbl_hdr_settings{
	background-image:url(../images/tbl_hdr.jpg);
	background-position: top left;
	background-repeat:repeat-x;	
	border: solid 1px #eeeeee;
}

.frm_btn{
	border:solid 3px #cccccc;
	border-radius:8px;
	background-color:#0993cf;
	border: solid 3px #eeeeee;
	cursor:pointer;
	text-transform:uppercase;
	margin:10px 0px 0px 0px;
	padding:6px 10px 6px 10px;
	font-family:inherit;
	font-size:12px;
	color:#ffffff;
}

.frm_fields{
	height:26px;
	width:220px;
	background-color:#fff;
	border:solid 1px #dddddd;
	color:inherit;
	font-family:inherit;
	font-size:inherit;
	background-image:url(../images/frmbg.jpg);
	background-position: top left;
	background-repeat:repeat-x;	
}

.select_box{
	height:30px;
	width:220px;
	background-color:#f7f7f7;
	border:solid 1px #eeeeee;
	color:inherit;
	font-family:inherit;
	font-size:inherit;
	padding:4px 0px 0px 0px;
	background-image:url(../images/frmbg.jpg);
	background-position: top left;
	background-repeat:repeat-x;	
	
}

textarea {
	height:150px;
	width:300px;
	padding:0px 0px 0px 0px;
	background-color:#fff;
	border:solid 2px #eeeeee;
	color:inherit;
	font-family:inherit;
	font-size:inherit;
	background-image:url(../images/frmbg.jpg);
	background-position: top left;
	background-repeat:repeat-x;	
}


span{
	color:inherit;
	font-family:inherit;
	font-weight:bold;
	font-size:12px;	
}

.tbl_ftr:hover{
	background-color:#ffffff;	
}


.tbl_hdr:hover{
	background-color:transparent;
}


.error_msg{
	color:red;
	margin:0px 4px 0px 0px;
	font-weight:100;	
	font-size:14px;
	font-weight:bold;
}

#ftr{
	height:100%;
	margin:100px 0px 20px 0px;
	font-size:10px;	
	text-align:right;
}

#ftr a{
	font-size:10px;	
}


/*newsletter editor*/
.ntitles{
	font-weight:100;
	color:#0993cf;
	font-size:20px;	
	padding:0px 10px 10px 0px ;
	text-align:right;
}

label{
	font-weight:bold;
	font-family:inherit;
	font-size:inherit;	
}

/* newsletter navigation*/

#lft_clmn .newsNav{
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}	

#lft_clmn .newsNav li{
	list-style-type:none;
	margin:0px 0px 0px 0px;
	padding:0px 0px 8px 0px;
	border:0;
}


#lft_clmn .newsNav li{
	list-style-type:none;
	width:260px;
	padding:0px 0px 8px 0px;
	margin:0px 0px 0px 0px;
	text-align:right;
}

#lft_clmn .newsNav li:hover{
	list-style-type:none;
	width:260px;
	padding:0px 0px 8px 0px;
	margin:0px 0px 0px 0px;	
	text-align:right;
	background-image:url(../images/lftnav_b.png);
	background-repeat:repeat-x;
	border:0;
}

#lft_clmn .newsNav a:hover{
	color:#464646;	
}
